<link rel="stylesheet" href="/css/style.css" />
<nav class="topnav" style="background-color: #216aca;">
  <a class="navbar-brand" style="color: white;">Plataforma Academica</a>
  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" id="logout" type="submit" name="logout" style="background-color: #1a6fdf;;
            color: white;"><a href="/" style="color: white;">Cerrar Sesión</a>
            </button>
  </form>
</nav>

<div class="chart1" >
  <canvas id="myChartOne"></canvas>
</div>
 