{{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="/public/stylesheets/CSS/style.css"> --}}
<form action="/" method="post">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid"
            alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <h1>Plataforma Academica</h1>
          <br>
          <form>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="number" id="form1Example13" name="student_id" class="form-control form-control-lg"
                placeholder="Matricula" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" name="password" id="form1Example23" class="form-control form-control-lg"
                placeholder="Contraseña" />
            </div>

            <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Register -->
              <a href="/reg">¿Quieres registrarte?</a>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>

          </form>
        </div>
      </div>
    </div>
  </section>
</form>