/* Style the links inside the navigation bar */
#logout {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 14px;
  background-color: rgb(11, 202, 202);
}

/* Change the color of links on hover */
#logout:hover {
  background-color: rgb(18, 185, 185);
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.topnav {
  width: 100%;
  height: 3pc;
  background-color: #216aca;
}

/*Chart*/
.chart1 {
  width: 100%;
  height: 23pc;
}

/*Carrusel-Estilo*/
#carrusel {
  float:left;
  width:66.5%;
  overflow:hidden;
  height:203px;
  position:relative;
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 4pc;
}

#carrusel .righ-arrow {
  position:absolute;
  left:1px;
  z-index:1;
  top:50%;
  margin-top:-9px;
  height: 10px;
  width: 10px;
  margin-right: 20px;
  size: 50px;
}
#carrusel .left-arrow {
  position:absolute;
  left:1px;
  z-index:1;
  top:50%;
  margin-top:-9px;
  height: 10px;
  width: 10px;
  margin-left:20px;
  size: 50px;
}

#carrusel .right-arrow img{
  position:absolute;
  right:1px;
  z-index:1;
  top:50%;
  margin-top:-7px;
  height: 30px;
  width: 30px;
  margin-left: 20px;
  size: 10px;
}
#carrusel .left-arrow img{
  position:absolute;
  right:1px;
  z-index:1;
  top:50%;
  margin-top:-7px;
  height: 30px;
  width: 30px;
  margin-left: 20px;
  size: 10px;
}
.carrusel {
  width:6000px;
  left:0px;
  position:absolute;
  z-index:0;
}

.carrusel>div {
  float: left;
  height: 203px;
  margin-right: 5px;
  width: 297px;
  text-align:center;
}

.carrusel img {
  cursor:pointer;
}

.product {
  border:#CCCCCC 1px solid;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/*
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}*/
/*
.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
*/
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media only screen and (max-width: 768px) {
  .topnav {
    width: 200%;
    height: 10pc;
    object-fit: cover;
    object-position: bottom;
  }
  .chart1 {
    width: 150%;
    height: 44pc;
    object-fit: cover;
    object-position: bottom;
  }
  #carrusel {
    float:left;
    width:150%;
    overflow:hidden;
    height:403px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 4pc;
    object-fit: cover;
    object-position: bottom;
  }
}
@media only screen and (max-width: 480px) {
  .topnav {
    width: 200%;
    height: 10pc;
    object-fit: cover;
    object-position: bottom;
  }
  .chart1 {
    width: 200%;
    height: 44pc;
    object-fit: cover;
    object-position: bottom;
  }
  #carrusel {
    float:left;
    width:200%;
    overflow:hidden;
    height:403px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 4pc;
    object-fit: cover;
    object-position: bottom;
  }
}

#tabla {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}
